.cta {
  position: relative;
  background: #0048ff;
  color: #fff;
  padding: 4rem 1em 6rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  justify-content: center;
  align-items: center;

  .cta__inner {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    gap: 2rem;
  }

  .cta__content {
    flex: 1;
    max-width: 45%;
    z-index: 3;

    h2 {
      font-size: 2.1rem;
      font-weight: 700;
      margin: 0 0 1rem;
      line-height: 1.3;
    }

    p {
      color: #e0e7ff;
      margin-bottom: 2rem;
      line-height: 1.6;
      font-size: 0.9rem;
      max-width: 70%;
    }


    .cta__button {
      background: #fff;
      color: #0048ff;
      font-weight: 600;
      border: none;
      border-radius: 50px;
      padding: 1rem 2rem;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

  .cta__image {
    flex: 1;
    position: absolute;
    right: -3%;
    bottom: -6rem;
    width: 45%;
    z-index: 2;
    pointer-events: none;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
    }
  }
}



@media (max-width: 1024px) {
  .cta {
    .cta__image {
      width: 69%;
    }
  }
}

@media (max-width: 768px) {
  .cta {
    padding-top: 0.5em;
    .cta__content {
      position: relative;
      top: 4em;
      h2 {
        font-size: 2em;
      }
    }
    .cta__image {
      img {
        width: 93%;
        position: relative;
        left: 6em;
      }
    }
  }
}

@media (max-width: 576px) {
  .cta {
    padding: 4rem 0 0;

    .cta__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;
    }

    .cta__image {
      position: static;
      width: 80%;           
      margin-right: 11em;       
      display: flex;
      justify-content: center; 
    

      img {
        width: 100%;
        height: auto;
        display: block;
      }
      }

    .cta__content {
      max-width: 100%;

      h2 {
        font-size: 1.8rem;
      }

      p {
        max-width: 95%;
      }

      .cta__button {
        width: 80%;
        margin-bottom: 2em;
      }
    }
  }
}
