.rewards {
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding: 2em 0 5em 0;

    

    .rewards__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10em;

        .rewards__image {
            flex: 1;
            display: flex;
            justify-content: center;

            img {
                // max-width: 500px;
                height: auto;
                object-fit: contain;
            }
        }

        .rewards__content {
            flex: 1;
            text-align: left;

            h2 {
                font-size: 2.1em;
                font-weight: 700;
                margin-bottom: 0.5em;
                max-width: 80%;
            }

            p {
                font-size: 0.9em;
                line-height: 1.8;
                color: #cfcfcf;
                margin-bottom: 1.5em;
                max-width: 80%;
            }

            .rewards__list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 0.8em;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.6em;
                    font-size: 0.9em;

                    .icon {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .rewards__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4em;


        .rewards__image {
            flex: 1;
            display: flex;
            justify-content: center;

            img {
                height: auto;
                object-fit: contain;
            }
        }

        .rewards__content {
            flex: 1;
            text-align: left;

            h2 {
                font-size: 2.1em;
                font-weight: 700;
                margin-bottom: 0.5em;
                max-width: 80%;
            }

            p {
                font-size: 0.9em;
                line-height: 1.8;
                color: #cfcfcf;
                margin-bottom: 1.5em;
                max-width: 80%;
            }

            .rewards__list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 0.8em;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.6em;
                    font-size: 0.9em;

                    .icon {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .rewards {
        .rewards__top {
            display: flex;
            flex-direction: column;
            gap: 2em !important;

            .rewards__image {
                img {
                    width: 100%
                }
            }

            .rewards__content {
                h2 {
                    font-size: 1.5em;
                    max-width: 80%
                }
            }
        }
    }
}