header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 100%;
        height: 50%;
        margin: 0 auto;
        padding: 0 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__navigation {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5%;

            .header__logo {
                display: flex;
                align-items: center;
                gap: 8%;

                .pc__logo {
                    display: block;
                }

                .mobile__logo {
                    display: none;
                }
            }

            .header__nav {
                .nav__list {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    gap: 5%;


                    li a {
                        font-size: 0.8em;
                        text-decoration: none;
                        color: white;
                        white-space: nowrap;
                    }
                }
            }
        }


        .btn-download {
            width: 14%;
            height: 92%;
            color: white;
            background: #0328EE;
            border: none;
            border-radius: 80px;
            font-size: 0.75em;
            font-weight: 550;
        }
        .btn-toggle {
            width: 45px;
            height: 45px;
            font-size: 1.5em;
            display: none;
            border-radius: 50%;
            background: #0328EE;
            color: white;
            border: none;
        }
    }
}

@media (max-width: 400px) {
    .container {
        padding: 1.5em 0;
        .header__navigation {
            .header__logo {
                img {
                    width: 40%;
                }
                .pc__logo {
                    display: none !important
                }

                .mobile__logo {
                    display: block !important;
                    font-size: 1.5em;
                    font-weight: 650;
                }
            }

            .header__nav {
                display: none;
            }
        }
    }
    .btn-download {
        display: none;
    }
    .btn-toggle {
        display: block !important
    }
}