.download-app {
    padding: 2em 0;

    .download-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;

        h2 {
            padding: 0;
            font-size: 2.1em
        }

        p {
            width: 30%;
            font-size: 0.8em;
            line-height: 2;
        }
    }

    .download-area {
        padding: 2em 1em;
        display: flex;
        justify-content: space-between;
        gap: 11em;


        .download-card {
            background-color: #010D50;
            width: 45%;
            display: flex;
            flex-direction: column;
            padding-top: 1em;
            border-radius: 25px;

            h2 {
                padding-left: 1.5em;
            }

            p {
                width: 80%;
                font-size: 0.9em;
                line-height: 2;
                word-wrap: break-word;
                padding-left: 2.5em;

            }

            .btn {
                width: 35%;
                background-color: #0048ff;
                height: 3em;
                border-radius: 80px;
                border: none;
                margin: 2.5em;
                color: white;
            }

            img {
                width: 80%;
                margin: 0 auto
            }
        }
    }
}

@media (max-width: 576px) {
    .download-app {
        .download-header{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h2 {
                margin: 0
            }
            p{
                width: 77%;
                margin-bottom: 0;
            }
        }
        
        .download-area {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .download-card {
                width: 100%;

                .btn {
                    width: 55%;
                    height: 4.5em;
                }
            }
        }
    }
}