.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #010D50;
    color: white;
    font-size: 16px;
}
.container {
    max-width: 100%;
    width: 83%;
    margin: 0 auto;
    box-sizing: border-box;
}