.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #010725;
  color: white;
  font-size: 16px;
  overflow-x: clip;
}

.container {
  max-width: 100%;
  width: 83%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-top: 0;
  padding-bottom: 0
}

@media (max-width: 768px) {
  .container {
    width: 92%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
  }
}

button {
  &:active {
    transform: translateY(2px);
    box-shadow: 0 3px 6px rgba(0, 72, 255, 0.15);
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0;
    font-size: 12px
  }
}